/* This manages the About section.*/

/* The padding is needed for the top inorder for the scroll feature to land just above the section.*/
#about{
  padding: 20px 0px 0px 0px;
}
/* Manages the background of the section to a solid color.*/
.about-background{
  background-color: var(--primaryBackground);
}
.about-container {
  margin-bottom: 44px;

  min-height: 80vh;
  padding: 40px;
  align-items: center;
}
.center-text{
  font-size: 40px;
  color: var(--titleColor);
  text-align: center;
}
/* Manages the subtext inside the section.*/
.about-text{
  color: var(--titleColor);
  margin-top: 40vh;
}
