#contact{
  padding: 50px 0px 0px 0px;
}
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 0px 0px;
  }
  .contact-container form {
    min-width: 400px;
    height: 400px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--secondary);
    border-radius: 8px;
    box-shadow: var(--boxShadow);
  }
  
  .contact-title h1{
    text-align: center;
    font-size: 40px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  .form-group:hover {
    transition: transform 0.5s ease-in-out;
    transform: scale(1.05);
  }
  .form-group-message {
    min-height: 75px;
    margin-bottom: 6px;
  }
  .form-group-message:hover {
    transition: transform 0.5s ease-in-out;
    transform: scale(1.05);
  }
  .form-group-message textarea{
    width: 95%;
    min-height: 75px;
    min-width: 95%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type='text'],
  input[type='email'],
  textarea {
    width: 95%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button[type='submit'] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* Manages mobile/decreased device screen.*/
@media only screen and (max-width: 767px) {
  .contact-container form {
    min-width: 300px;
    margin-bottom: 40px;
  }
}