

.footer {
    background-color: var(--primaryBackground);
    color: var(--titleColor);
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-section {
    width: 100%;
  }
  
  .footer-section.left-section {
    text-align: left;
  }
  
  .footer-section.right-section {
    text-align: center;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .footer-section ul li img{
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
  