

.footer {
    /*background-color: #2bb430;*/
    background-color: var(--secondary);
    color: var(--textColor);
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-section {
    width: 50%;
  }
  
  .footer-section.left-section {
    text-align: left;
    margin-left: 15%;
  }
  
  .footer-section.right-section {
    text-align: right;
    margin-right: 15%;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .footer-section ul li img{
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
  