.homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px 16px 150px 16px;
  }
.homepage-name {
  color: var(--titleColor);
  font-size: 90px;
  margin: 0px;
}
.homepage-subtitle {
  color: var(--titleColor);
  font-size: 35px;
  text-align: right;
  margin: 0px;
}
    
    
  .image-container img {
    flex-direction: row;
    width: 100%;
    max-width: 400px;
    min-width: 400px;
    height: auto;
  }