/* The is the banner container. Sets the banner to be as tall as the user display.*/
.homepage-banner {
  margin-top: 36px;
  height: 100vh;
  position: relative;
}
  /* The is the title and sub-title displayed on the banenr.*/
.homepage-name {
  position: absolute;
  right: 0px;
  text-align: right;
  z-index: 1;
  color: var(--titleColor);
}
.homepage-name h1{
  position: absolute;
  right: 10vw;
  font-size: 70px;
  margin: 0px;
  top: 0vh;
}
.homepage-name h2{
  position: absolute;
  top: 60px;
  right: 10vw;
  font-size: 70px;
  margin: 0px;
}
.homepage-name h3{
  position: absolute;
  top: 200px;
  right: 10vw;
  font-size: 36px;
  margin: 0px;
}
/* Manages the resume button on the banner.*/
.homepage-banner button{
  position: absolute;
  bottom: 10vh;
  left: 10vw;
  padding: 6px;
  font-size: 24px;;
  color: var(--titleColor);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 6px;
  transition: transform 0.8s ease-in-out;
  transform: scale(1);
}

.homepage-banner button:hover {
  transition: transform 0.8s ease-in-out;
  transform: scale(1.2);
}

