/* The is the banner container. Sets the banner to be as tall as the user display.*/
.homepage-banner {
  padding: 10px 0px 0px 0px;
  margin-top: 36px;
  height: 100vh;
  position: relative;
  background-image: url('../assets/banner.png');
  background-size: cover;
}
/* This creates the bouncing animation when hovering over an icon.*/
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
  /* The is the title and sub-title displayed on the banenr.*/
.homepage-name {
  position: absolute;
  right: 0px;
  text-align: right;
  z-index: 1;
  color: var(--titleColor);
}
.homepage-name h1{
  position: absolute;
  right: 10vw;
  font-size: 70px;
  margin: 0px;
  top: 0vh;
}
.homepage-name h2{
  position: absolute;
  top: 60px;
  right: 10vw;
  font-size: 70px;
  margin: 0px;
}
.homepage-name h3{
  position: absolute;
  top: 200px;
  right: 10vw;
  font-size: 36px;
  margin: 0px;
}
/* Manages the resume button on the banner.*/
.homepage-banner button{
  position: absolute;
  bottom: 10vh;
  left: 10vw;
  padding: 6px;
  font-size: 24px;
  color: var(--titleColor);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 6px;
  border-color: white;
  transition: transform 0.2s ease-in-out;
  transform: scale(1);
}
.github-link{
  position: relative;
  max-height: 50px;
  right: 10vw;
  top: 350px;
  margin: 4px;
}
.linkedin-link{
  position: relative;
  max-height: 50px;
  right: 10vw;
  top: 350px;
  margin: 4px;
}
.homepage-banner img:hover{
  animation: bounce 1s infinite;

}

.homepage-banner button:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2);
}

/* Manages device screen.*/
@media only screen and (max-width: 767px) {
  .homepage-name h1{
    top: 40px;
    font-size: 40px;
  }
  .homepage-name h2{
    top: 80px;
    font-size: 40px;
  }
  .homepage-name h3{
    font-size: 22px;
  }
  .homepage-banner button{
    bottom: 24vh;
    font-size: 24px;
  }
}