@import "navbar.css";
@import "projects.css";
@import "home.css";
@import "resume.css";
@import "about.css";
@import "contact.css";

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --primary: #d7dedf;
  --secondary: #cecece;
  --button: #547EAB;
  --error: #e7195a;
  --textColor: rgb(0, 0, 0);
  --boxShadow: 2px 4px 14px rgba(0, 0, 0, 0.5);
  --orangeTextShadow: 2px 4px 8px rgb(255, 183, 0);

}
body {
  background: rgb(249, 249, 249);
  margin: 0;
  font-family: "Poppins";
  color: var(--textColor);
}


@media only screen and (device-width: 828px) and (device-height: 1792px) and (-webkit-device-pixel-ratio: 2) {
  /* CSS styles specific to iPhone 11 */
  /* Add your styles here */
}