/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #d7dedf;
  --secondary: #869db3;
  --button: #547EAB;
  --error: #e7195a;
}
body {
  background: #ffffff;
  margin: 0;
  font-family: "Poppins";
}

/* Home Page ======================================================================*/
.homepage-container {
  background: var(--secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  }
  
.intro-container {
  flex: 1;
  max-width: 600px;
}
  
.image-container {
  flex: 1;
  margin-left: 40px;
}
  
.image-container img {
  width: 100%;
  max-width: 400px;
  height: auto;
}
/*Projects Select Page =====================================================================*/
#projects {
  padding: 20px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.project-card {
  background-color: var(--secondary);
  padding: 20px;
}

.project-details {
  margin-top: 10px;
}

.project-details h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.project-details p {
  margin-bottom: 10px;
}

.project-details a {
  display: inline-block;
  padding: 8px 12px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}
/* Outer Navbar =============================================================== */
header {
  padding: 20px 200px 20px 200px;
}
/* Inner Navbar */
header .container {
  border-bottom: solid;
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}