@import "navbar.css";
@import "projects.css";
@import "home.css";
@import "resume.css";
@import "about.css";
@import "contact.css";
@import "footer.css";
@import "skills.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* Controls the css variables for the program.*/
:root {
  /*--primaryBackground: rgb(115, 157, 216);*/
  --primaryBackground: rgba(7, 0, 74, 0.922);
  --secondary: #cecece;
  --button: #3a99ff;
  --error: #e7195a;
  --textColor: rgb(0, 0, 0);
  --titleColor: white;
  --boxShadow: 0px 0px 18px rgba(255, 255, 255, 0.5);
  --font: 'Poppins';
  --backgroundImage: url('../assets/mainBG.png');

}
/* This allows the navbar to be linked to the top of the screen.*/
.main-container {
  width: 100%;
}
/* This controls the background and font.*/
body {
  margin:0px;
  width:100vw;
  height:100vh;
  overflow:auto;
  margin-top: 0px;
  background-image: var(--backgroundImage);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  font-family: var(--font);
  color: var(--textColor);
}
/* This manages the section titles(projects, skills, about me, etc...).*/
.title {
  color: var(--titleColor);
  font-size: 40px;
  margin: 0px;
}

