header {
    padding: 20px 200px 20px 200px;
    
  }
  header .navContainer {
    border-bottom: solid;
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    text-decoration: none;
    color: var(--textColor);
    font-size: 16px;
    margin: 10px;
  }