@media (max-width: 455px) {
  header {
    padding: 20px 0px 20px 0px;
    min-width: 400px;
    justify-content: center;  
  }
}
@media (min-width: 456px) {
  header {
    padding: 20px 200px 20px 200px;
    min-width: 400px;
  }
}

header .navContainer {
  border-bottom: solid;
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  border: solid;
  padding: 0px 14px 4px 14px;
  border-radius: 12px;
  text-decoration: none;
  color: var(--textColor);
  font-size: 16px;
  margin: 4px;
}
.logo:hover{
  background-color: var(--secondary);
  text-shadow: var(--orangeTextShadow);
}