/* Manages the css for the navbar.*/

/* This is the background for the navbar.*/
.headerNav {
  background-color: rgba(0, 0, 0, 0.795);
  position: fixed;
  z-index: 3;
  padding: 4px 0px 0px 0px;
  min-width: 100vw;
  top: 0;
  display: flex;
  justify-content: flex-end;
}
/* This manages the buttons on the navbar and the border on hover.*/
.navContainer button {
  border: solid;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(255, 255, 255, 0);
  text-decoration: none;
  padding: 0px 10px 0px 10px;
  color: rgb(59, 223, 59);
  font-size: 16px;
  margin: 0px 2x 0px 2px;
}
.navContainer button:hover{
  border: solid;
  border-radius: 10px;
}
