#projects {
    padding: 20px;
    margin: 0px;
    background-color: rgb(83, 74, 249);

  }
.project-title{
  color: black;
  font-size: 36px;
}
    
.section-container-projects{
  background-color: white;
  margin: 0px;
  color: black;
}
.projects-container {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 44px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}
  
  .project-card {
    background-color: var(--secondary);
    border-radius: 10px;
    box-shadow: var(--boxShadow);
    padding: 20px;
  }
  .project-card:hover {
    transition: transform 0.5s ease-in-out;
    transform: scale(1.1);
  }
  .project-card img{
    width: 100%;
  }
  
  .project-details {
    margin-top: 10px;
  }
  
  .project-details h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .project-details p {
    margin-bottom: 10px;
  }
  
  .project-details a {
    display: inline-block;
    padding: 8px 12px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 4px;
  }
  