/* 
Manages the project section.
*/

/* 
Manages entire section.
*/
#projects {
    padding: 20px;
    margin: 0px;
  }
/* 
Manages how the projects will be structured and what grid template it will use.
*/
.project-parent-section{
  height: 100%;
  display: grid;
  color: white;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 80px;
}
@media only screen and (max-width: 767px) {
  .project-parent-section{
    grid-template-columns: 1fr;
    height: 100%;
  }
}
.project-section{
  display:inline-block;
  height: 100%;
}
/*
Manages the program picture.
*/
.project-section img{
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
  width: 90%;
}
/*
Manages the buttons under the picture of the program. Handles different screen sizes.
*/
.project-section-button-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.video-button, .code-button{
  color: rgb(255, 255, 255);
  border-radius: 4px;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  width: 100px;
}
.video-button{
  background-color: #ff8420;
  width: 80px;
}
.code-button{
  background-color: rgb(86, 86, 255);
  width: 80px;
}
/*
Manages the text in each program.
*/
.project-section-title{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  margin-top: 5%;
}
.project-section-subtitle{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  margin-top: 12px;
}
.project-section-description{
  font-size: 14px;
  text-align: center;
  margin: 8%;
}
/*
Manages the technology format and pictures for the project.
*/
.project-section-list-of-technologies{
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.project-section-list-of-technologies img{
  border-style: none;
  height: 7vh;
  width: 7vw;
  max-width: 7vh;
  min-width: 50px;
  min-height: 50px;
}

  