/* 
Manages the project section.
*/

/* 
Manages entire section.
*/
#projects {
    padding: 20px;
    margin: 0px;
    background-color: var(--primaryBackground);
  }
/* 
Manages how the projects will be structured and what grid template it will use.
*/
.project-parent-section{
  height: 100%;
  display: grid;
  color: var(--titleColor);
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 80px;
}
@media only screen and (max-width: 767px) {
  .project-parent-section{
    grid-template-columns: 1fr;
    height: 100%;
  }
}
.project-section{
  display:inline-block;
  height: 100%;
}
/*
Manages the program picture.
*/
.project-section img{
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
  width: 90%;
}
/*
Manages the buttons under the picture of the program. Handles different screen sizes.
*/
.project-section-button-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.video-button, .code-button{
  font-size: 2.8vh;
  color: var(--titleColor);
  font-weight: bold;
  border-radius: 4px;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
.video-button:hover, .code-button:hover {
  animation: bounce 1s infinite;
}
.video-button{
  background-color: #ff8420;
  width: 16vh;
}
.code-button{
  background-color: rgb(86, 86, 255);
  width: 16vh;
}
/*
Manages the text in each program.
*/
.project-section-title{
  font-size: 3vh;
  color: var(--titleColor);
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  margin-top: 5%;
}
.project-section-subtitle{
  font-size: 2.5vh;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  margin-top: 12px;
}
/*
Manages the description of the program.
*/
.project-section-description{
  font-size: 2.5vh;
  text-align: center;
  margin: 8%;
}
@media only screen and (max-width: 767px) {
  .project-section-description{
    font-size: 2vh;
    margin: 0px;
  }
}
/*
Manages the technology format and pictures for the project.
*/
.project-section-list-of-technologies{
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
@media only screen and (max-width: 767px) {
  .project-section-list-of-technologies{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
}
.project-skill{
  font-size: 2vh;
  text-align: center;
  border: 2px solid rgb(76, 76, 76);
  background-color: rgb(76, 76, 76);
  border-radius: 5px;
  color: var(--titleColor);
}
@media only screen and (max-width: 767px) {
  .project-skill{
    position: relative;
    right: 20%;
    font-size: 1.3vh;
  }
}
.project-skill:hover {
  animation: bounce 1s infinite;
}
  