.resume-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
.title {
  color: var(--titleColor);
  font-size: 40px;
  margin: 0px;
}
  .section-container {
    background-color: var(--secondary);
    border-radius: 10px;
    box-shadow: var(--boxShadow);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  ul {
    margin-bottom: 10px;
  }
  
  li {
    margin-bottom: 5px;
  }