/* This manages the skills section.*/


/* Manages the padding of the entire section. (Exterior of the section.)*/
#skills {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
/* This creates the bouncing animation when hovering over an icon.*/
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
/* This creates the rotation.*/
@keyframes rotateY {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  50% {
    transform: perspective(1000px) rotateY(180deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}

.about-title{
  font-size: 20px;
}
.skills-description{
  margin-left: 5%;
  margin-right: 5%;
  color: white;
  font-size: 16px;
}
/* Manages some variables and the size of the section.*/
.skills-container{
  perspective: 1000px; /* Needed for the rotation.*/
  --technicalShadow: 0px 2px 10px rgb(255, 0, 0);
  --frontendShadow: 0px 2px 10px rgb(60, 83, 255);
  --databaseShadow: 0px 2px 10px rgb(250, 185, 44);
  min-height: 60vh; /* Size of the section proportional to screen size.*/
  display: grid;
  gap: 0px;
}
/* How the grid is layed out depending on screen size.*/
@media (max-width: 730px){
  .skills-container {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 731px){
  .skills-container {
    margin-top: 10vh;
    grid-template-columns: 1fr 1fr 1fr;
  } 
}
/* Manages how the container is constructed and how it looks. Border, color etc.*/
.skill-card {
  max-height: 350px;
  display: inline-block;
  color: var(--titleColor);
  border: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 4px;
  padding: 20px;
}
.skill-card img{
  max-height: 50px;
}
.skill-card img:hover{
  animation: rotateY 3s linear infinite, bounce 1s infinite;
}
/* The glow when you hover over a container.*/
#technical-container:hover{
  box-shadow: var(--technicalShadow);
}
#frontend-container:hover{
  box-shadow: var(--frontendShadow);
}
#database-container:hover{
  box-shadow: var(--databaseShadow);
}
/* This manages the image.*/
.spinning-icons img{
  animation: rotateY 3s linear infinite;
  max-height: 50px;
}
/* Manages title such as 'Technical Skills'.*/  
.skill-details h3 {
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 5px;
}
/* Manages text describing list of skills.*/  
.skill-details p {
  margin-bottom: 10px;
}
/* Manages the title glow of each container.*/
.technical-title-text{
  text-shadow: var(--technicalShadow)
}
.frontend-title-text{
  text-shadow: var(--frontendShadow);
}
.database-title-text{
  text-shadow: var(--databaseShadow);
}

/* Manages mobile/decreased device screen.*/
@media only screen and (max-width: 767px) {
  #skills {
    padding: 28px 0px 0px 0px;
  }
  .skill-card {
    margin-left: 5%;
    margin-right: 5%;
  }
}